@font-face {
  font-family: "MDIO";
  src: url("../assets/MDIO.woff") format("woff");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100%;
  font-family: -apple-system,BlinkMacSystemFont,helvetica neue,helvetica,arial,sans-serif;
}

.root-theme-light {
  --main-bg: #ffffff;
  --main-text: #000000;
  --main-border: #ADADAD;
  --main-border-secondary: #DCDCDC;
  --main-navigation-text: #ffffff;
  --main-navigation-bg: #222222;
  --main-button-bg: #000000;
  --main-button-text: #ffffff;
  --main-sidebar-bg: #F5F5F5;
  --main-sidebar-text: #888888;
  --main-primary-accent: #ffbf00;
  --main-secondary-accent: #ffcf40;
  --main-placeholder: #999999;
}

.root-theme-dark {
  --main-bg: #000000;
  --main-text: #ffffff;
  --main-border: #888888;
  --main-border-secondary: #999999;
  --main-navigation-text: #ffffff;
  --main-navigation-bg: #222222;
  --main-button-bg: #ffbf00;
  --main-button-text: #000000;
  --main-sidebar-bg: #111111;
  --main-sidebar-text: #ADADAD;
  --main-primary-accent: #ffbf00;
  --main-secondary-accent: #ffcf40;
  --main-placeholder: #999999;
}

.root {
  background-color: var(--main-bg);
  color: var(--main-text);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.root-top {
  width: 100%;
  height: 32px;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 88px;
  background-color: var(--main-navigation-bg);
  color: var(--main-navigation-text);
  overflow: hidden;
  flex-shrink: 0;
}

.root-bottom {
  height: calc(100vh - 32px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.root-left {
  width: 180px;
  flex-shrink: 0;
  height: 100%;
  background: var(--main-sidebar-bg);
  overflow-y: scroll;
  color: var(--main-sidebar-text);
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar {
    display: none;
  }
}

.root-left-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1px;
  color: #888;
  padding: 76px 12px 4px 12px;
}

.root-right {
  height: 100%;
  min-width: 10%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.navigation-item {
  font-size: 12px;
  font-weight: 600;
  margin-right: 24px;
  cursor: pointer;
  user-select: none;
  transition: 200ms ease all;
  
  &:hover {
    color: var(--main-secondary-accent);
  }
}

.navigation-item--active {
  color: var(--main-primary-accent);
}

.wallet-item {
  margin-top: 2px;
  padding: 0px 12px 0px 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  transition: 200ms ease all;
  
  &:hover {
    color: var(--main-secondary-accent);
  }
}

.wallet-item-left {
  padding-top: 4px;
  flex-shrink: 0;
  padding-right: 10px;
}

.wallet-item-right {
  font-size: 14px;
  padding-right: 24px;
  min-width: 10%;
  width: 100%;
}

.wallet-item-right-top {
  font-weight: 600;
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
}

.wallet-item-right-bottom {
  font-family: "MDIO";
  overflow: hidden;
  font-size: 10px;
  margin-top: 1px;
  text-overflow: ellipsis;
  opacity: 0.6;
}