@font-face {
  font-family: "MDIO";
  src: url("../assets/MDIO.woff") format("woff");
}

@font-face {
  font-family: "GT-Zirkon-Book";
  src: url("../assets/GT-Zirkon-Book.woff") format("woff");
}

@font-face {
  font-family: "GT-Zirkon-Medium";
  src: url("../assets/GT-Zirkon-Medium.woff") format("woff");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  width: 100%;
  font-family: "GT-Zirkon-Book", -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, arial,
    sans-serif;

  --main-green: #6fdc8c;
  --main-primary-accent: rgba(54, 71, 255, 1);
  --main-secondary-accent: rgba(54, 71, 255, 0.75);
}

input,
textarea {
  font-family: "GT-Zirkon-Book", -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, arial,
    sans-serif;
}

.root-theme-light {
  --main-bg: rgba(255, 255, 255, 1);
  --main-sidebar-bg: rgba(245, 245, 245, 1);
  --main-navigation-bg: rgba(235, 235, 235, 1);
  --main-text: #161616;
  --main-border: #c6c6c6;
  --main-border-secondary: #e0e0e0;
  --main-navigation-text: #ffffff;
  --main-button-bg: #000000;
  --main-button-area-bg: var(--main-button-text);
  --main-button-text: #ffffff;
  --main-button-area-text: var(--main-button-bg);
  --main-tag-text: #161616;
  --main-sidebar-text: #262626;
  --main-placeholder: #6f6f6f;
}

.root-theme-dark {
  --main-bg: rgba(0, 0, 0, 1);
  --main-sidebar-bg: rgba(10, 10, 10, 1);
  --main-navigation-bg: rgba(20, 20, 20, 1);
  --main-text: #f4f4f4;
  --main-border: #525252;
  --main-border-secondary: #6f6f6f;
  --main-navigation-text: #ffffff;
  --main-button-bg: #f4f4f4;
  --main-button-area-bg: var(--main-bg);
  --main-button-text: #161616;
  --main-button-area-text: var(--main-text);
  --main-tag-text: #161616;
  --main-sidebar-text: #8d8d8d;
  --main-placeholder: #a8a8a8;
}

.root {
  background-color: var(--main-bg);
  color: var(--main-text);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.root-top {
  width: 100%;
  height: 32px;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 88px;
  color: var(--main-navigation-text);
  background-color: var(--main-navigation-bg);
  overflow: hidden;
  flex-shrink: 0;
}

.root-bottom {
  height: calc(100vh - 32px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.root-left {
  position: relative;
  width: 180px;
  flex-shrink: 0;
  height: 100%;
  background: var(--main-sidebar-bg);
  overflow-y: scroll;
  color: var(--main-sidebar-text);
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    -webkit-app-region: drag;
    z-index: 1;
    content: "";
    height: 100px;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-image: linear-gradient(to top, transparent, var(--main-sidebar-bg) 80%);
  }
}

.root-left-container {
  padding: 0 0 88px 0;
}

.root-left-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.2px;
  color: #888;
  padding: 76px 12px 4px 12px;
}

.root-right {
  height: 100%;
  min-width: 10%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.navigation-item {
  font-size: 12px;
  font-weight: 600;
  margin-right: 24px;
  cursor: pointer;
  user-select: none;
  transition: 200ms ease all;
  color: var(--main-text);

  &:hover {
    color: var(--main-secondary-accent);
  }
}

.navigation-item--active {
  color: var(--main-primary-accent);
}

.wallet-item {
  margin-top: 2px;
  padding: 0px 12px 0px 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  transition: 200ms ease all;

  &:hover {
    color: var(--main-secondary-accent);
  }
}

.wallet-item-left {
  padding-top: 4px;
  flex-shrink: 0;
  padding-right: 10px;
}

.wallet-item-right {
  font-size: 14px;
  padding-right: 24px;
  min-width: 10%;
  width: 100%;
}

.wallet-item-right-top {
  font-family: "GT-Zirkon-Medium";
  font-weight: 400;
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
}

.wallet-item-right-bottom {
  font-family: "MDIO";
  overflow: hidden;
  font-size: 10px;
  margin-top: 1px;
  text-overflow: ellipsis;
  opacity: 0.6;
}
