.body {
  padding: 40px 24px 88px 24px;
  flex-shrink: 0;
}

.body-inline-card {
  display: inline-flex;
  border: 1px solid var(--main-border);
  padding: 16px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.body-status {
  font-family: 'MDIO';
  background: var(--main-primary-accent);
  padding: 8px 24px 8px 24px;
  border-radius: 3px;
  margin-top: 8px;
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  font-size: 10px;
}

.body-heading {
  font-family: "GT-Zirkon-Medium";
  font-size: 18px;
  font-weight: 400;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-width: 488px;
}

.body-heading-two {
  font-family: "GT-Zirkon-Medium";
  font-size: 14px;
  font-weight: 400;
  max-width: 488px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.body-paragraph {
  opacity: 0.85;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-width: 488px;
}

.body-aside {
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  max-width: 488px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.body-card {
  border: 1px solid var(--main-border);
  padding: 88px 16px 16px 16px;
  border-radius: 3px;
  margin-top: 16px;
  max-width: 388px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: 200ms ease all;
  transform: scale(1);

  &:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
}

.body-address-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.body-address-item {
  list-style-type: none;
  margin: 0;
  padding: 8px;
  margin-top: 16px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--main-border);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.body-address-item-left {
  min-width: 10%;
  width: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.body-address-item-right {
  flex-shrink: 0;
  padding-left: 24px;
}