.input {
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  background: var(--main-bg);
  color: var(--main-text);
  border-radius: 4px;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: flex-start;
  outline: 0;
  border: 1px solid var(--main-border);
  box-sizing: border-box;
  transition: 200ms ease all;
  padding: 0 16px 0 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  
  &:focus {
    outline: 0;
    border: 1px solid var(--main-primary-accent);
  }
  
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--main-placeholder);
    opacity: 1; /* Firefox */
  }
}

.input-unit {
  color: #999;
  font-size: 14px;
  position: absolute;
  top: 12px;
  right: 24px;
}

.input-container {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  max-width: 480px;
  min-width: 188px;
}

.input-options {
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid var(--main-border);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
}

.input-options-item {
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.input-options-item-left {
  min-width: 10%;
  width: 100%;
  font-size: 12px;
  font-weight: 600;  
  padding-top: 2px;
}

.input-options-item-right {
  flex-shrink: 0;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 12px;
  padding-top: 4px;
  
  &:hover {
    color: var(--main-primary-accent);
  }
}