@keyframes animation-spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loader-spinner {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid var(--main-bg);
  border-radius: 50%;
  border-top-color: transparent;
  animation: animation-spin 1s ease-in-out infinite;
}