.transactions {
  margin-top: 8px;
  width: 100%;
  font-size: 14px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.transactions-row {
  margin-bottom: 16px;
  
  strong {
    font-size: 11px;
    color: var(--main-button-text);
    border-radius: 3px;
    background: var(--main-primary-accent);
    font-weight: 600;
    padding: 3px;
  }
}

.transactions-row-cid {
  opacity: 0.6;
  margin-top: 4px;
  font-family: "MDIO";
  font-size: 11px;
}