.transactions {
  margin-top: 8px;
  width: 100%;
  font-size: 14px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.transactions-row {
  margin-bottom: 16px;
}

.transactions-tag {
  font-size: 11px;
  color: var(--main-tag-text);
  border-radius: 3px;
  background: var(--main-primary-accent);
  font-weight: 600;
  padding: 3px;
}

.transactions-tag--yours {
  background: var(--main-green);
}

.transactions-row-cid {
  opacity: 0.6;
  margin-top: 4px;
  font-family: "MDIO";
  font-size: 11px;
}