.scene {
  height: calc(100vh - 48px);
  min-width: 10%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  ::-webkit-scrollbar {
    display: none;
  }
}

.body-heading {
  font-size: 18px;
  font-weight: 600;
}

.body-heading-two {
  font-size: 14px;
  font-weight: 600px;
}

.body-paragraph {
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
}

.body-aside {
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  max-width: 488px;
}

.body-card {
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #ececec;
  margin-top: 16px;
  max-width: 388px;
  cursor: pointer;
}