@keyframes CTATransition-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scene {
  height: 100%;
  min-height: 10%;
  min-width: 10%;
  width: 100%;
  overflow: hidden;  
  overflow-y: scroll;
  animation: CTATransition-fade-in 200ms ease;
  
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--main-primary-accent);
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--main-secondary-accent);
  }
}

.scene-multisig-layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.scene-multisig-layout-left {
  flex-shrink: 0;
  width: 344px;
  padding: 4px 48px 24px 24px;
}

.scene-multisig-layout-right {
  min-width: 10%;
  width: 100%;
}

.scene-multisig-title {
  color: #888;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.2px;
}

.scene-multisig-box {
  margin-top: 24px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  border: 1px solid var(--main-border);
}

.scene-multisig-box-item {
  font-size: 12px;
  padding: 10px 8px 8px 8px;
  border-bottom: 1px solid var(--main-border);
  
  &:last-child {
    border-bottom: 0px;
  }
}